<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time" default="true"/>
  <arg name="extra_gazebo_args" default=""/>
  <!-- Note: gui default to false -->
  <arg name="gui" default="false"/> 
  <arg name="output" default="screen"/>
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="world_name" default="worlds/example_box.world"/> 
  <arg name="use_clock_frequency" default="false"/>
  <arg name="pub_clock_frequency" default="100"/>
  <arg name="make_required" default="true" />

  <!-- set use_sim_time flag -->
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <!-- start gazebo server-->
  <group if="$(arg use_clock_frequency)">
    <param name="gazebo/pub_clock_frequency" value="$(arg pub_clock_frequency)" />
  </group>
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="$(arg output)"
    args="--verbose -e ode $(arg extra_gazebo_args) $(arg world_name) -s libdeepsim_gazebo_plugin.so"
    required="$(arg make_required)"/>

  <!-- start gazebo client -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false"
      output="$(arg output)" args="" required="$(arg make_required)"/>
  </group>

</launch>